body {
    background: #17313E;
    
}

/* #quadradao {
    background-color: #7A7A73;
    width: 70%;
    height: 70vh;

    display: flex;
    justify-content: space-around;
    align-items: center;

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#quadradinho1 {
    width: 400px;
    height: 400px;
    background: #FF7A30;
}

#quadradinho2 {
    width: 400px;
    height: 400px;
    background: #ffc507;
} */




#rosto
{
width: 200px;
height: 200px;
position: absolute;
left: 50%;
top: 50%;
transform: translate(-50%,-50%);
background-color: rgb(0, 0, 0);
border-radius: 50%;
display: flex;
justify-content: center;
align-items: center;
flex-direction: column;


}

.orelha
{
width: 100px;
height: 100px;
background-color: rgb(0, 0, 0);
border-radius: 50%;
display: flex;
justify-content: center;
align-items: center;
}

#orelhas
{
    display: flex;
    justify-content: center;
    gap: 50px;
    position: absolute;
    top: 35%;
    left: 50%;
    transform: translate(-50%,-50%);
    z-index: -10;
}

.detalhe-orelha
{
    background-color: bisque;
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

#nariz
{
    background-color: bisque;
    height: 30px;
    width: 30px;
    border-radius: 50%;
}

#olhos
{
    display: flex;
    gap: 30px;
}

.olho
{
    height: 50px;
    width: 30px;
    border-radius: 30%;
    background-color: antiquewhite;
    margin-bottom: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.pupila
{
    height: 20px;
    width: 10px;
    border-radius: 20%;
    background-color: #17313E;
}



























